<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  package="ru.saransklife">

	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

	<application
		android:name=".client.App_"
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version" />
		<meta-data
			android:name="com.google.android.maps.v2.API_KEY"
			android:value="AIzaSyBsArDxwUlDu6249MuurNKCQ_z3m6VMghE"/>

		<activity
			android:name=".client.SplashActivity_">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".client.MainActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.page.PagesActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.place.categories.PlaceCategoriesActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.place.entities.EntitiesByCategoryActivity_"
			android:parentActivityName=".client.place.categories.PlaceCategoriesActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.place.EntityActivity_"
			android:parentActivityName=".client.place.entities.EntitiesByCategoryActivity_"/>

		<activity
			android:name=".client.event.EventsActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.event.info.EventInfoActivity_"
			android:parentActivityName=".client.event.EventsActivity_"/>

		<activity
			android:name=".client.DetailsActivity_"/>

		<activity
			android:name=".client.AboutActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.reference.ReferenceCategoriesActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.reference.ReferencesActivity_"
			android:parentActivityName=".client.reference.ReferenceCategoriesActivity_"/>

		<activity
			android:name=".client.reference.ReferenceInfoActivity_"
			android:parentActivityName=".client.reference.ReferencesActivity_"/>

		<service
			android:name=".client.DataService_"
			android:exported="false">

		</service>

	</application>

</manifest>
