<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.saransklife" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
		android:name=".client.App_"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".client.SplashActivity_"
            android:label="@string/title_activity_splash" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity
			android:name=".client.MainActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.page.PagesActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.place.PlaceCategoriesActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.place.EntitiesByCategoryActivity_"
			android:parentActivityName=".client.place.PlaceCategoriesActivity_"
			android:launchMode="singleTop"/>

		<activity
			android:name=".client.place.EntityActivity_"
			android:parentActivityName=".client.place.EntitiesByCategoryActivity_"/>

		<activity
			android:name=".client.event.EventsActivity_" />

		<activity
			android:name=".client.event.EventInfoActivity_" />

	</application>

</manifest>
